 .phon{
     background: #ffcaaa;
 }
.offer {
    position: absolute;
    background: #ffffff;
    height: 500%;
    top: 520px;
    left: 0px;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
}
.main{
    position:absolute;
}
.main_text{
    position:absolute;
    font-size:50px;
    width:700px;
    left:200px;
    top:150px;
    font-family:'VAG World Bold';
}
.video{
    position:fixed;
    width:100%;
    left:0px;
    top:0px;
}
.protection_for_video{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0%;
    left:-10px;
}
.offer_text1 {
    position: absolute;
    background: #ff892b;
    font-size: 24px;
    top: 70px;
    left: -250px;
    border-radius: 0px 50px 50px 0px;
    width: 400px;
    height: 100px;
    padding-left: 80px;
    padding-top: 20px;
    align: center;
    box-shadow: 0px 0px 0px black;
    opacity: 0%;
    transition: 1.5s;
    font-family: 'VAG World Bold';
}
.offer_text2 {
    position: absolute;
    background: #ff6a6a;
    font-size: 22px;
    top: 230px;
    left: 717.3px;
    left: 517.3px;
    border-radius: 50px 0px 0px 50px;
    width: 443px;
    height: 88px;
    padding-left: 20px;
    padding-top: 24px;
    align: center;
    box-shadow: 0px 0px 0px black;
    transition: 1.5s;
    font-family: 'VAG World Bold';
    opacity:0%;
}
.offer_text3 {
    position: absolute;
    background: #fffc6a;
    font-size: 24px;
    top: 390px;
    left: -250px;
    border-radius: 0px 50px 50px 0px;
    width: 400px;
    height: 90px;
    padding-left: 80px;
    padding-top: 40px;
    align: center;
    box-shadow: 0px 0px 0px black;
    opacity: 0%;
    transition: 1.5s;
    font-family: 'VAG World Bold';
}

.offer_text4 {
    position: absolute;
    background: #80ff98;
    font-size: 28px;
    top: 880px;
    left: 350px;
    border-radius: 50px;
    width: 500px;
    height: 148px;
    padding-left: 30px;
    padding-top: 40px;
    align: center;
    border: dashed 8px #0a7510;
    box-shadow: 0px 0px 0px #40ff63;
    opacity: 0%;
    transition: 1.5s;
    font-family: 'VAG World Bold';
}
.dash {
    position: absolute;
    border-radius: 40px;
    width: 800px;
    height: 1000px;
    border: solid 7px #000000;
    opacity: 0%;
    top: 140px;
    left: -10px;
    transition: 3s;
}
.dash.on{
    border:dashed 7px #000000;
    opacity:50%;
    top:140px;
    left:-10px;
    transition:3s;
}
.ded_musey{
    position:absolute;
    width:25%;
    top:550px;
    left:-260px;
    transform:rotate(45deg);
    transition:2s;
}
.offer_text1.on{
    top:70px;
    left:-50px;
    box-shadow:0px 0px 20px black;
    opacity:100%;
    transition:1.5s;
}
.offer_text2.on{
    box-shadow:0px 0px 20px black;
    opacity:100%;
    transition:1.5s;
}
.offer_text3.on{
    top:390px;
    left:-50px;
    box-shadow:0px 0px 20px black;
    opacity:100%;
    transition:1.5s;
}

.offer_text4.on {
    top: 750px;
    left: 350px;
    box-shadow: 0px 0px 20px #40ff63;
    opacity: 100%;
    transition: 1.5s;
}
.ded_musey.on{
    position:absolute;
    top:690px;
    left:0px;
    transform:rotate(0deg);
    transition:2s;
}


.ico1{
    position:absolute ;
    transition:1.5s;
    width:200px;
    left:200px;
    top:1900px;
    transform:scale(0.1);
}
.ico2{
    position:absolute ;
    transition:1.5s;
    width:230px;
    left:650px;
    top:1900px;
    transform:scale(0.1);
    
}
.ico3{
    position:absolute ;
    transition:1.5s;
    width:230px;
    left:200px;
    top:2300px;
    transform:scale(0.1);
    
}
.ico4{
    position:absolute ;
    transition:1.5s;
    width:230px;
    left:650px;
    top:2300px;
    transform:scale(0.1);
    
}
.ico_text{
    position:absolute ;
    transition:1.5s;
    width:300px;
    left:400px;
    top:1600px;
    font-family: 'VAG World Bold';
    font-size:35px;
    opacity:0;
    
}
.ico_text1{
    position:absolute ;
    transition:1.5s;
    width:200px;
    left:250px;
    top:2100px;
    font-family: 'VAG World Bold';
    font-size:28px;
    opacity:0;
}
.ico_text2{
    position:absolute ;
    transition:1.5s;
    width:230px;
    left:700px;
    top:2100px;
    font-family: 'VAG World Bold';
    font-size:28px;
    opacity:0;
}
.ico_text3{
    position:absolute ;
    transition:1.5s;
    width:230px;
    left:250px;
    top:2500px;
    font-family: 'VAG World Bold';
    font-size:28px;
    opacity:0;
}
.ico_text4{
    position:absolute ;
    transition:1.5s;
    width:230px;
    left:700px;
    top:2500px;
    font-family: 'VAG World Bold';
    font-size:28px;
    opacity:0;
}
.ico1.on{
    transform:scale(1);
    transition:1.5s;
}
.ico2.on{
    transform:scale(1);
    transition:1.5s;
}
.ico3.on{
    transform:scale(1);
    transition:1.5s;
}
.ico4.on{
    transform:scale(1);
    transition:1.5s;
}
.ico_text.on{
    opacity:1;
    transition:1.5s;
}
.ico_text1.on{
    opacity:1;
    transition:1.5s;
}
.ico_text2.on{
    opacity:1;
    transition:1.5s;
}
.ico_text3.on{
    opacity:1;
    transition:1.5s;
}
.ico_text4.on{
    opacity:1;
    transition:1.5s;
}
.video_2{
    position:absolute;
    width:400px;
    height:230px;
    left:500px;
    top:1300px;
    border:dashed 7px #093900;
    border-radius:10px;
    opacity:0;
}
.text_video{
    position:absolute;
    width:450px;
    left:25px;
    top:1280px;
    font-size:15px;
    font-family: 'VAG World Bold';
    opacity:0;
}
.video_2.on{
    opacity:1;
    transition:1.5s;
}
.text_video.on{
    opacity:1;
    transition:1.5s;
} 
.button{
    position:absolute;
    background:#5fc621;
    width: 270px;
    height: 100px;
    border-radius:50px;
    box-shadow:0px 0px 30px #3cff2b;
    font-size:40px;
    font-family: 'VAG World Bold';
    padding-left: 100px;
    color: white;
    left:350px;
    top:2800px;
    transition:0.5s;
    opacity:0;
}
.button:hover{
    transform:scale(1.3);
    background:#ffffff;
    color:#5fc621;
    transition:0.5s;
}
.button:focus{
    transform:scale(1.3);
    background:#ffffff;
    color:#5fc621;
    transition:0.5s;
}
.button.on{
    opacity:1;
}
.footer{
    width: 100.1%;
    height: 200px;
    position: absolute ;
    top:3300px;
    left:0px;
    background: #272727;
    border-radius:20px 20px 0px 0px;
}




















@media (width:1000px){
    .offer_text2{
        left:537.3px;
    }
}
@media (width:1100px) {
    .offer_text2 {
        left: 636.3px;
    }
}
@media (width:1200px) {
    .offer_text2 {
        left: 737.3px;
    }
}
@media (width:1300px) {
    .offer_text2 {
        left: 837.3px;
    }
}
@media (width:1400px) {
    .offer_text2 {
        left: 937.3px;
    }
}










@font-face {
    font-family: 'VAG World Bold';
    src: url('fonts/vag_world_bold.eot'); /* IE 9 Compatibility Mode */
    src: url('fonts/vag_world_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('fonts/vag_world_bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/vag_world_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('fonts/vag_world_bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/vag_world_bold.svg#vag_world_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
 







